html{width: 100%; height: 100%; margin: 0 auto; }
body{width: 100%; height: 100%; margin: 0 auto;}

#howl_head{width: calc(100% / 3); height: 100%; margin-top: 3%; position: fixed; z-index: 10; transition: all 0.6s; }
#head_box {width: calc(100% - 20%); height: auto; margin-left: 10%;}
#head_box > h1{width: 210px; height: 90px; }
#head_box > h1 > a{width: 100%; height: 100%; display: block; background-image: url(../img/logo_white_min.png); background-repeat: no-repeat; background-position: center; background-size: cover; }


#head_box > ul {width: 210px; height: 60px; margin-top: 26px;}
#head_box > ul > li {width: 60px; height: 60px; border-radius: 50%; box-sizing: border-box; border: 2px solid #fff; float: left; margin-right: 15px; background-size: 60%; background-repeat: no-repeat; background-position: center center; }
#head_box > ul > li:last-child{background-image: url(../img/right_arrow.png);  margin-right: 0; }
#head_box > ul > li:nth-child(1){background-image: url(../img/left_arrow.png);}
#head_box > ul > li:nth-child(2){background-image: url(../img/x_arrow.png);}
#head_box > ul > li > a {width: 100%; height: 100%; display: block; margin: 0 auto; }
#head_box > a{font-size: 1.5rem; margin-top: 8px; text-decoration: none; font-family: "helvetica"; color: #fff;}

#menu_box {width: 300px; height: 100px; margin-top: 20%; margin-left: 10%;}
#menu {width: 100%; height: 100%;}
#menu > li {width: 100%; height: 2.5rem; }
#menu > li > a {font-size: 2rem; text-decoration: none; font-family: "Helvetica"; font-weight: lighter; color: #fff; }
#menu > li:nth-child(1):hover{margin-left:7px; }
#menu > li:nth-child(2):hover{margin-left:7px; }
#menu > li:nth-child(3):hover{margin-left:7px; }
#menu > li:nth-child(4):hover{margin-left:7px; }
#menu > li:nth-child(1).on > a{font-weight: bold; text-shadow: 1px 1px 8px #dbf; }
#menu > li:nth-child(2).on > a{font-weight: bold; text-shadow: 1px 1px 8px #dbf; }
#menu > li:nth-child(3).on > a{font-weight: bold; text-shadow: 1px 1px 8px #dbf; }
#menu > li:nth-child(4).on > a{font-weight: bold; text-shadow: 1px 1px 8px #dbf; }

#footer_box {width: calc(100% - 20%); height: auto; margin-left: 10%; position: absolute; bottom: 10%; }
#music{}
#footer_box > #music > audio {width: 300px; height: 10px; }
#player{width: 300px; height: 38px; border: 2px solid #fff; border-radius: 30px; overflow: hidden; position: relative; }
#player>div{height: 40px; float: left; }
#player>button{background-repeat: no-repeat; background-position: center center; background-size: 80%; background-color: transparent; margin-top: 4px;}
button>span{width: 0; height: 0; overflow: hidden; display: block; }
#player>.m_before{width: 40px; height: 30px; background-image: url(../img/player_1.png); margin-left: -40px; }
#player>.au_btn{width: 40px; height: 30px; position: relative; display:inline-block; left: 45px; top: 4px; }
#player>.au_btn>button{background-repeat: no-repeat; background-position: center center; background-size: cover; background-color: transparent; }
#player>.au_btn>.m_play{width: 40px; height: 30px; background-image: url(../img/player_5.png); position: absolute; background-size: 70%; }
#player>.au_btn>.m_stop{width: 40px; height: 30px; background-image: url(../img/player_2.png); position: absolute; background-size: 65%; }
#player>.m_next{width: 40px; height: 30px; background-image: url(../img/player_3.png); margin-left: 45px; }
#player>.m_list{width: 130px; height: 30px; position: absolute; right: 40px; top: 10px; }
#player>.m_list>marquee{color: #fff; }
#player>.m_volume{width: 35px; height: 30px; background-image: url(../img/player_4.png); float: right; margin-right: 5px;}
		/*.stop{z-index:0;}*/
#howl_head .stop_plus{display: none;}
#howl_head .play_plus{display: block;}

#footer_box > address {width: 300px; height: auto; margin-top: 8px;}
#footer_box > address > p {width: 100%; text-align: center; color: #fff; font-size: 1.166666rem; letter-spacing: -0.0625rem; font-family: "helvetica"; font-weight:normal; }
#footer_box > address > p > a {width: 100%; text-align: center; color: #fff; font-size: 1.166666rem; letter-spacing: -0.0625rem; font-family: "helvetica"; font-weight:normal; text-decoration: none; }


#title_text{width: 450px; position: fixed; z-index: 1; top: 1%; right: 3%; transition: all 0.5s ease-in-out; }
#title_text > p{font-family: "helvetica"; font-weight: bold; color: #fff; font-size: 7rem; }
#title_text > p:nth-child(2){margin-top: -9%; font-size: 3.5rem; }

section{width: 100%; height: 100%; position: relative; background-size: cover; background-position: 60% 50%; background-attachment: fixed; overflow: hidden; }
#container > section:nth-of-type(1){background-image: url(../img/totoro/bg_img_01.jpg);}
#container > section:nth-of-type(2){background-image: url(../img/totoro/bg_img_02.jpg);}
#container > section:nth-of-type(3){background-image: url(../img/totoro/bg_img_02.jpg);}
#container > section:nth-of-type(4){background-image: url(../img/totoro/bg_img_02.jpg);}
section > span{width: calc(100% / 3); height:100%; border-right: 1px solid #ccc; border-left: 1px solid #ccc; display: block; margin-left: calc(100% / 3); box-sizing: border-box; opacity: .5; }

section > article{width: calc(100% - 37%); position: absolute; top: 3%; left: 35%; z-index: 11;}

.con_02 > article{}
.con_02 > article > *{}
.con_02 > article > div:nth-child(1){width: 450px; height: 120px; margin-top: 20%;}
.con_02 > article > div:nth-child(1) > dl{height: calc(100% / 4);}
.con_02 > article > div:nth-child(1) > dl > *{height: 100%; float: left; color: #fff; font-family: "kopubdotum"; letter-spacing: -0.0675rem; margin: 0 auto; }
.con_02 > article > div:nth-child(1) > dl > dt{width: 20%;  font-size: 1.333333rem; }
.con_02 > article > div:nth-child(1) > dl > dt > span{display: block; color: #fff; font-size: 0.833333rem}
.con_02 > article > div:nth-child(1) > dl > dd{width: 80%; font-size: 1.166666rem; margin-top: 3px; }
.con_02 > article > img{width: 253px; height: 360px; position: absolute; right: 5%; top: 3%; }
.con_02 > article > div:last-child{width: calc(100% - 70px); height: 146px; font-size: 1.125rem; font-weight: bold; font-family: "kopubdotum"; color: #fff; margin-top: 12%; }
.con_02 > article > div > dl{margin-top: 13px; }
.con_02 > article > div > dl > dt{color: #fff; font-size: 0.875rem; font-weight: bold; font-family: "kopubdotum";}
.con_02 > article > div > dl > dd{color: #fff; font-size: 0.875rem; font-family: "kopubdotum"; line-height: 20px; margin-top: 13px; }

.con_03{}
.con_03 > article{height: 100%; margin-top: 10%;}
.con_03 > article > div{width: 100%; height: 75%; position: relative; }
.con_03 > article > div > div{transition: all 0.5s ease-in-out; position: absolute; }
.con_03 > article > div > div > dl{width: 100%; height: 100%; background-repeat: no-repeat; background-position: center center; position: absolute; background-size: cover; transition: all 0.5s ease-in-out; position: absolute; }
.con_03 > article > div > div > dl:hover{cursor: pointer; }
/*.con_03 > article > div > dl:hover{cursor: pointer; }*/
.con_03 > article > div > div > dl > dt{width: 45%; height: auto; font-size: 1.5rem; font-weight: bold; color: #fff; display: none;}
/*.con_03 > article > div > dl > dt{width: 45%; height: auto; font-size: 1.5rem; font-weight: bold; color: #fff; display: none;  }*/
.con_03 > article > div > div > dl > dd{width: 45%; height: auto; font-size: 1.2rem; font-weight: normal; color: #fff; display: none; line-height: 2rem; }
/*.con_03 > article > div > dl > dd{width: 45%; height: auto; font-size: 1.2rem; font-weight: normal; color: #fff; display: none; }*/
#img_bg1{width: 25%; height: calc(100% / 3 * 2); top: 0; left: 0; }
#img_bg1>dl{background-image: url(../img/totoro/images/character_2_01.png);}
#img_bg1:hover{width: 27%; height: calc(110% / 3 * 2); z-index: 1000; top: -3%; left: -1.2%; }
#img_bg2{width: 50%; height: calc(100% / 3); left: 25%; top: 0;}
#img_bg2>dl{background-image: url(../img/totoro/images/character_2_02.png); }
#img_bg2:hover{width: 55%; height: calc(110% / 3); z-index: 1000; top: -1.5%; left: 22.5%; }
#img_bg3{width: 25%; height: calc(100% / 3); left: 25%; top: calc(100% / 3); }
#img_bg3>dl{background-image: url(../img/totoro/images/character_2_04.png); }
#img_bg3:hover{width: 27%; height: calc(110% / 3); z-index: 1000; top: calc(95% / 3); left: 24%; }
#img_bg4{width: 50%; height: calc(100% / 3); left: 0; top: calc(100% / 3 * 2);}
#img_bg4>dl{background-image: url(../img/totoro/images/character_2_07.png); }
#img_bg4:hover{width: 55%; height: calc(110% / 3); z-index: 1000; left: -2%; top: calc(99% / 3 * 2); }
#img_bg5{width: 25%; height: calc(100% / 3 * 2); left: 50%; top: calc(100% / 3); }
#img_bg5>dl{background-image: url(../img/totoro/images/character_2_05.png); }
#img_bg5:hover{width: 27%; height: calc(110% / 3 * 2); z-index: 1000; left: 49%; top: calc(90% / 3); }
#img_bg6{width: 25%; height: calc(100% / 3 * 2); left: 75%; top: calc(100% / 3); }
#img_bg6>dl{background-image: url(../img/totoro/images/character_2_06.png); }
#img_bg6:hover{width: 27%; height: calc(110% / 3 * 2); z-index: 1000; left: 74%; top: calc(90% / 3); }
#img_bg7{width: 25%; height: calc(100% / 3); top: 0; left: 75%;}
#img_bg7>dl{background-image: url(../img/totoro/images/character_2_03.jpg); }
#img_bg7:hover{width: 27%; height: calc(110% / 3); z-index: 1000; top: -2%; left: 74%; }

.con_03 > article > div > div > dl > *{display: none; }
.con_03 > article > div > div > dl > dt{width: 30vw; height: 10vw; }
.con_03 > article > div > div > dl > dd{width: 30vw; height: 50vw; }
.div_box{width: 100vw !important; height: 100vh !important; background-color: rgba(100,100,100,.8) !important; left: -56% !important; top: -30% !important; position: absolute !important; z-index: 1000 !important; }
.dl_box{width: 40vw !important; height: 100vh !important; left: 15% !important; top: 0 !important; position: absolute !important;  z-index: 2000 !important; }
.dt_box{position: absolute; left: 100%; display:block!important; top: 20vh;}
.dd_box{position: absolute; left: 100%; display:block!important; top: 25vh;}
.close_btn{width: auto; height: auto; background-color: transparent; position: absolute; top: 3%; right: 3%; z-index: 500; font-size: 3rem; line-height: 3rem; display: none; cursor: pointer; }
.close_btn>i{width: auto; height: auto; color: #fff; }
.close_btn>i>span{width: 0; height: 0; display: block; overflow: hidden; }

.character_01.on{}
.character_02.on{}
.character_03.on{}
.character_04.on{}
.character_05.on{}
.character_06.on{}
.character_07.on{}

.con_04{}
.con_04>article{width: 90%; height: 100%; }
.con_04>article>video{width: auto; height: 60%; margin-top: 13%;}


#slider_box{width: 150px; height: 40px; background-image: url(../img/slider_arrow.png); background-position: center bottom; background-size: 170%; position: fixed; bottom: 7%; left: calc(50% - 75px); background-repeat: no-repeat; animation: down_slider 1.2s ease-out infinite /*alternate 왕복 */;}
        @keyframes down_slider{
            0%{transform: translateY(-1rem); opacity: 0.2; }
            100%{transform: translateY(1rem); opacity: .7; }
}